.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
 /* background-color: grey; */
  /* background: url('../assets/bg -2.jpg') no-repeat;
  background-size: cover; */
  padding: 0px;
}

.auth-wrapper::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0.4), 
    rgba(0, 0, 0, 0.4)
  ), url('../assets/bg -2.jpg') no-repeat center center;
  background-size: cover;
  filter: blur(4px);
  
  z-index: 0;
}


.auth-container {
  display: flex;
  width: 100%;
  max-width: 1000px;
  height: 600px;
  border-radius: 12px;
  overflow: hidden;
  /* box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
  background-color: white; */
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  backdrop-filter: blur(6px);

}

.auth-left {
  width: 50%;
  background: url('../assets/auth-image.jpg') no-repeat center center;
  background-size: cover;
}

.auth-right {
  width: 50%;
  background-color: #fffaf3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
   background: url('../assets/bg -2.jpg') no-repeat ; 
}

/* .auth-card {
  width: 100%;
  max-width: 400px;
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
} */
.auth-card {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 400px;
  background: rgba(255, 255, 255, 0.15); /* Translucent */
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(12px); /* Key part for blur */
  -webkit-backdrop-filter: blur(12px);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 30px;
}

.auth-card h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #4a3f35;
}

.auth-card input {
  width: 100%;
  padding: 10px;
  margin: 10px 0 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  box-sizing: border-box;
}

.auth-card button {
  width: 100%;
  padding: 12px;
  background-color: #37383a;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.auth-card button:hover {
  background-color: #7c6658;
}

.auth-card p {
  text-align: center;
  margin-top: 16px;
}

.auth-card p button {
  background: none;
  border: none;
  color: #37383a;
  cursor: pointer;
  text-decoration: underline;
  font-size: 0.9rem;
}


@media (max-width: 768px) {
  .auth-container {
    flex-direction: column;
    height: auto;
    box-shadow: none;
  }

  .auth-left {
    width: 100%;
    height: 200px;
  }

  .auth-right {
    width: 100%;
    padding: 20px;
  }

  .auth-card {
    padding: 20px;
    box-shadow: none;
    border-radius: 0;
    max-width: 100%;
  }

  .auth-card input,
  .auth-card button {
    font-size: 1rem;
  }
}
